@section Top{
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- Master Css -->
    <link href="/main.css" rel="stylesheet">
    <link href="/assets/css/color.css" rel="stylesheet" id="colors">
}
@model AboutUsViewModel
<div class="clear"></div>
<!--//================Bredcrumb starts==============//-->
<section>
    <div class="bredcrumb-section padTB100 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-head">
                        <div class="page-header-heading">
                            <h3 class="theme-color">About us</h3>
                        </div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb colorW marB0">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li class="active">About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Bredcrumb end==============//-->
<div class="clear"></div>
<!--//================ About start ==============//-->
<section class="padT100" dir="rtl">
    <!--- Theme heading start-->
    <div class="theme-heading marB50 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                    <h1>About Us</h1>
                    <div class="heading-lines"><span class="saf-boxs"></span></div>
                    <p>
                        You Can Learn EveryThing About Us In This Page
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--- Theme heading end-->
    <div class="container">
        <div class="row">
            <div class="about-us">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                    <h3 class="marB10">@Model.Title</h3>
                    <div>
                        <p>
                            @Model.Body
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================ About end ==============//-->
<div class="clear"></div>
<!--//================ Our Team start ==============//-->
<section class="padT100 padB70 team">
    <!--- Theme heading start-->
    <div class="theme-heading marB50 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                    <h1>Our Team</h1>
                    <div class="heading-lines"><span class="saf-boxs"></span></div>
                    <p>
                        Our Team Is Made By Proffesional Personel
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--- Theme heading end-->
    <div class="container">
        <div class="row">
            <div class="our-team">
                <div id="team-slider" class="owl-carousel owl-theme slider positionR">
                    @foreach (var Item in ViewBag.Employees)
                    {
                        <div class="item">
                            <div class="col-xs-12">
                                <div class="team-member grey-bg text-center marB30">
                                    <figure class="marB30">
                                        <a href="/TeamDetail/@Item.Id">
                                            <img src="/Admin/img/AdminThumbnail/@Item.Image" alt="">
                                        </a>
                                    </figure>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <hr>
                                    <h4><a href="/TeamDetail/@Item.Id">@Item.Name</a></h4>
                                    <p>@Item.SubJobName</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!--//================ Our Team end ==============//-->

<div class="clear"></div>

@section Bottom{
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/plugin/megamenu/js/hover-dropdown-menu.js"></script>
    <script src="/assets/plugin/megamenu/js/jquery.hover-dropdown-menu-addon.js"></script>
    <script src="/assets/plugin/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="/assets/plugin/acordian/js/jquery-ui.js"></script>
    <script src="/assets/plugin/fancyBox/js/jquery.fancybox.pack.js"></script>
    <script src="/assets/plugin/fancyBox/js/jquery.fancybox-media.js"></script>
    <script src="/assets/plugin/vertical-slider/js/jquery.bxslider.js"></script>
    <script src="/assets/plugin/switcher/js/switcher.js"></script>
    <script type="text/javascript" src="/assets/plugin/counter/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="/assets/plugin/counter/js/jquery.appear.js"></script>
    <script src="/assets/js/main.js"></script>
}