@{
    Layout = null;
    string Phone = ViewBag.Phone;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/Admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/Admin/vendors/bower_components/animate.css/animate.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="/Admin/css/app.min.css">
</head>

<body data-sa-theme="1">
    <div class="login">

        <!-- Login -->
        @if (ViewBag.Admin == null)
        {
            <form asp-action="MainAdminAccount">
                <div class="login__block active" id="l-login">
                    <div class="login__block__header">
                        <i class="zmdi zmdi-account-circle"></i>
                        Hi there! Please Sign in
                    </div>

                    <div class="login__block__body">
                        <div class="form-group">
                            <input name="phone" type="text" class="form-control text-center" placeholder="شماره تلفن">
                        </div>
                        @if (ViewBag.IncorrectPhoneNumber != null)
                        {
                            <p style="color:red; text-align:right">شماره تلفن وراد شده، اشتباه می باشد</p>
                        }
                        @if (ViewBag.NullPhoneNumber != null)
                        {
                            <p style="color:red; text-align:right">لطفا شماره تلفن خود را وراد کنید</p>
                        }

                        <button class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form asp-action="SignInMainAdmin">
                <div class="login__block active" id="l-login">
                    <div class="login__block__header">
                        <i class="zmdi zmdi-account-circle"></i>
                        Hi there! Please Sign in
                    </div>

                    <div class="login__block__body">
                        <div class="form-group">
                            <input name="password" type="password" class="form-control text-center" placeholder="کلمه عبور">
                        </div>
                        <input type="hidden" value="@Phone" name="phone" />
                        @if (ViewBag.NullPassword != null)
                        {
                            <p style="color:red; text-align:right">لطفا کلمه عبور خود را وراد کنید</p>
                        }
                        @if (ViewBag.InCorrectPassword != null)
                        {
                            <p style="color:red; text-align:right">کلمه عبور وراد شده، اشتباه می باشد</p>
                        }

                        <button class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        }



        <!-- Register -->
        <div class="login__block" id="l-register">
            <div class="login__block__header">
                <i class="zmdi zmdi-account-circle"></i>
                Create an account

                <div class="actions actions--inverse login__block__actions">
                    <div class="dropdown">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-login" href="/Admin/default.htm">قبلا حساب کاربری داشته اید?</a>
                            <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-forget-password" href="/Admin/default.htm">رمز عبور را فراموش کرده اید?</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="login__block__body">
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="نام">
                </div>

                <div class="form-group form-group--centered">
                    <input type="text" class="form-control text-center" placeholder="آدرس ایمیل">
                </div>

                <div class="form-group form-group--centered">
                    <input type="password" class="form-control text-center" placeholder="رمز عبور">
                </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Accept the license agreement</span>
                    </label>
                </div>

                <a href="/Admin/index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-plus"></i></a>
            </div>
        </div>

        <!-- Forgot Password -->
        <div class="login__block" id="l-forget-password">
            <div class="login__block__header">
                <i class="zmdi zmdi-account-circle"></i>
                Forgot Password?

                <div class="actions actions--inverse login__block__actions">
                    <div class="dropdown">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-login" href="/Admin/default.htm">Already have an account?</a>
                            <a class="dropdown-item" data-sa-action="login-switch" data-sa-target="#l-register" href="/Admin/default.htm">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="login__block__body">
                <p class="mb-5">Lorem ipsum dolor fringilla enim feugiat commodo sed ac lacus.</p>

                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="آدرس ایمیل">
                </div>

                <a href="/Admin/index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-check"></i></a>
            </div>
        </div>
    </div>

    <!-- Older IE warning message -->
    <!--[if IE]>
        <div class="ie-warning">
            <h1>?????!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade to any of the following web browsers to access this website.</p>

            <div class="ie-warning__downloads">
                <a href="/Admin/http://www.google.com/chrome">
                    <img src="/Admin/img/browsers/chrome.png" alt="">
                </a>

                <a href="/Admin/https://www.mozilla.org/en-US/firefox/new">
                    <img src="/Admin/img/browsers/firefox.png" alt="">
                </a>

                <a href="/Admin/http://www.opera.com/default.htm">
                    <img src="/Admin/img/browsers/opera.png" alt="">
                </a>

                <a href="/Admin/https://support.apple.com/downloads/safari">
                    <img src="/Admin/img/browsers/safari.png" alt="">
                </a>

                <a href="/Admin/https://www.microsoft.com/en-us/windows/microsoft-edge">
                    <img src="/Admin/img/browsers/edge.png" alt="">
                </a>

                <a href="/Admin/http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="/Admin/img/browsers/ie.png" alt="">
                </a>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript -->
    <!-- Vendors -->
    <script src="/Admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Admin/vendors/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- App functions and actions -->
    <script src="/Admin/js/app.min.js"></script>
</body>
</html>