@model AddHappyClientViewModel
@{
}

@section Top
    {

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/dropzone/dist/dropzone.css">
    <!--<link rel="stylesheet" href="/admin/vendors/bower_components/flatpickr/dist/flatpickr.min.css" />-->
    <link href="/admin/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/vendors/bower_components/nouislider/distribute/nouislider.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/rateYo/min/jquery.rateyo.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="/admin/css/app.min.css">

    <!-- Demo only -->
    <link rel="stylesheet" href="/admin/demo/css/demo.css">
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">افزودن مشتری</h4>
        <form asp-action="AddHappyClient" enctype="multipart/form-data" method="post">
            <h3 class="card-body__title">کاربر</h3>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" asp-for="User">
                        @if (ViewBag.Users != null)
                        {
                            foreach (var item in ViewBag.Users)
                            {
                                <option value="@item.id,@item.FullName"> @item.FullName</option>
                            }
                        }
                    </select>

                </div>
            </div>
            <span style="color:red" class="text-danger" asp-validation-for="User"></span>

            <h3 class="card-body__title">متن</h3>

            <div class="form-group">
                <textarea asp-for="Body" type="text" class="form-control"></textarea>
                <i class="form-group__bar"></i>
            </div>
            <span style="color:red" class="text-danger" asp-validation-for="Body"></span>


            <div class="form-group mb-0">
                <div class="product-buttons text-center">
                    <button class="btn btn-light btn--icon-text" type="submit"><i class="zmdi zmdi-plus"></i> افزودن</button>
                    <a class="btn btn-light btn--icon-text" href="/Admin/HappyClients" class="btn btn-light"><i class="zmdi zmdi-arrow-back"></i>بازگشت</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section buttom
    {
    <!-- Javascript -->
    <!-- Vendors -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/admin/vendors/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/admin/vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>

    <script src="/admin/vendors/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="/admin/vendors/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/admin/vendors/bower_components/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/admin/vendors/bower_components/moment/min/moment.min.js"></script>
    <!--<script src="/admin/vendors/bower_components/flatpickr/dist/flatpickr.min.js"></script>-->
    <script src="/admin/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="/admin/vendors/bower_components/nouislider/distribute/nouislider.min.js"></script>
    <script src="/admin/vendors/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="/admin/vendors/bower_components/trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="/admin/vendors/bower_components/rateYo/min/jquery.rateyo.min.js"></script>
    <script src="/admin/vendors/bower_components/jquery-text-counter/textcounter.min.js"></script>
    <script src="/admin/vendors/bower_components/autosize/dist/autosize.min.js"></script>

    <!-- App functions and actions -->
    <script src="/admin/js/app.min.js"></script>
    <script>
        $('.datetime-picker1').MdPersianDateTimePicker({
            targetTextSelector: '.datetime-picker1',
            targetDateSelector: '.miladi',
            dateFormat: 'yyyy-MM-dd',
            isGregorian: false,
            enableTimePicker: true,
            //disableBeforeToday: true
        });
        $('.multiple').MdPersianDateTimePicker({
            targetTextSelector: '.multiple',
            monthsToShow: [1, 1]
        });
    </script>
    }