@section Top
    {

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css">

    <!-- App styles -->
    <link rel="stylesheet" href="/admin/css/app.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/dropzone/dist/dropzone.css">
    <!--<link rel="stylesheet" href="/admin/vendors/bower_components/flatpickr/dist/flatpickr.min.css" />-->
    <link href="/admin/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/vendors/bower_components/nouislider/distribute/nouislider.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/admin/vendors/bower_components/rateYo/min/jquery.rateyo.min.css">


    <!-- Demo only -->
    <link rel="stylesheet" href="/admin/demo/css/demo.css">
}
<div class="card">
    <div class="card-body">
        <p style="font-size:115%">@ViewBag.Description</p>
    </div>
</div>
<div class="form-group mb-0">
    <div class="product-buttons text-center">
        <a class="btn btn-light btn--icon-text" href="/Admin/Reservations" class="btn btn-light"><i class="zmdi zmdi-arrow-back"></i>بازگشت</a>
    </div>
</div>

@section buttom
    {
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/admin/vendors/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/admin/vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>

    <script src="/admin/vendors/bower_components/autosize/dist/autosize.min.js"></script>

    <!-- App functions and actions -->
    <script src="/admin/js/app.min.js"></script>

    <script src="/admin/vendors/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="/admin/vendors/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/admin/vendors/bower_components/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/admin/vendors/bower_components/moment/min/moment.min.js"></script>
    <!--<script src="/admin/vendors/bower_components/flatpickr/dist/flatpickr.min.js"></script>-->
    <script src="/admin/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="/admin/vendors/bower_components/nouislider/distribute/nouislider.min.js"></script>
    <script src="/admin/vendors/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="/admin/vendors/bower_components/trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="/admin/vendors/bower_components/rateYo/min/jquery.rateyo.min.js"></script>
    <script src="/admin/vendors/bower_components/jquery-text-counter/textcounter.min.js"></script>

    <!-- App functions and actions -->
    <script>
        $('.datetime-picker1').MdPersianDateTimePicker({
            targetTextSelector: '.datetime-picker1',
            targetDateSelector: '.miladi',
            dateFormat: 'yyyy-MM-dd',
            isGregorian: false,
            enableTimePicker: true,
            //disableBeforeToday: true
        });
        $('.multiple').MdPersianDateTimePicker({
            targetTextSelector: '.multiple',
            monthsToShow: [1, 1]
        });
    </script>
    }