<aside class="sidebar">
    <div class="scrollbar-inner">

        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img class="user__img" src="/admin/demo/img/profile-pics/8.jpg" alt="">
                <div>
                    <div class="user__name">رضا حسینی</div>
                    <div class="user__email">malinda-h@gmail.com</div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="/admin/default.htm">مشاهده پروفایل</a>
                <a class="dropdown-item" href="/admin/default.htm">تنظیمات</a>
                <a class="dropdown-item" href="/admin/default.htm">خروج</a>
            </div>
        </div>

        <ul class="navigation">
            <li class="@@indexactive"><a href="/admin"><i class="zmdi zmdi-home"></i> خانه</a></li>

            <li class="@@typeactive"><a href="/admin/adminpage"><i class="zmdi zmdi-accounts-outline"></i> ادمین ها</a></li>

            <li class="@@typeactive"><a href="/admin/users"><i class="zmdi zmdi-accounts-list"></i>کاربران</a></li>

            <li class="@@typeactive"><a href="/admin/JobList"><i class="zmdi zmdi-border-all"></i> گروه ها</a></li>

            <li class="@@typeactive"><a href="/admin/WorkingDays"><i class="zmdi zmdi-calendar"></i> روزهای کاری</a></li>

            <li class="@@widgetactive"><a href="/Admin/WorkingTimes"><i class="zmdi zmdi-alarm"></i>زمان کاری</a></li>

            <li class="@@typeactive"><a href="/admin/Sliders"><i class="zmdi zmdi-format-align-right"></i>اسلایدر ها</a></li>

            <li class="@@typeactive"><a href="/admin/Weblogs"><i class="zmdi zmdi-view-web"></i>وبلاگ ها</a></li>

            <li class="@@typeactive"><a href="/admin/Partners"><i class="zmdi zmdi-assignment"></i>پارتنر ها</a></li>

            <li class="navigation__sub  navigation__sub--toggled">
                <a href="/admin/default.htm"><i class="zmdi zmdi-more zmdi-hc-fw"></i>قسمت های دیگر</a>

                <ul>
                    <li class=""><a href="/admin/SpecificationsOfBeautySalon">ویژگی های آرایشگاه</a></li>
                    <li class=""><a href="/admin/Gallery">گالری</a></li>
                    <li class=""><a href="/admin/AboutUs">در باره ی ما</a></li>
                </ul>
            </li>

            <li class="@@typeactive"><a href="/admin/Reservations"><i class="zmdi zmdi-check"></i>لیست رزرواسیون ها</a></li>

            <li class="navigation__sub @@formactive">
                <a href="/admin/default.htm"><i class="zmdi zmdi-collection-text"></i> فرم ها</a>

                <ul>
                    <li class="@@formelementactive"><a href="/admin/form-elements.html">فرم پایه</a></li>
                    <li class="@@formcomponentactive"><a href="/admin/form-components.html">کامپوننت های فرم</a></li>
                    <li class="@@formvalidationactive"><a href="/admin/form-validation.html">اعتبار سنجی فرم</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>