@model List<BeautySalon.Models.Entities.Job>
@inject BeautySalon.Models.Services.Interfaces.IHelpingServices HelpingServices

<li>
    <a href="#">Services</a>
    <ul class="dropdown-menu">
        @foreach (var Category in Model)
        {
            <li>
                <a href="/Services/@Category.Id">
                    @Category.Name
                    <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
                    <i class="fa fa-angle-down hidden-md hidden-sm hidden-lg" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu right-side menu">
                    @foreach (var SubJob in HelpingServices.GetSubCategories(Category.Id))
                    {
                        <li><a href="/Services/SingleService/@SubJob.Id">@SubJob.Name</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</li>